<ion-header>
  <ion-toolbar>
    <ion-title>Update Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input formControlName="title" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input formControlName="description" type="text" required>
      </ion-input>
    </ion-item>

    <ion-button class="ion-margin-top" type="submit" expand="block" color="success">Update</ion-button>
  </form>
</ion-content>
